@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");

#titleNavbar {
  text-align: center;
  font-family: "Twinkle Star", cursive;
}

.loginRegister__outer {
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loginRegister__inner {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 480px) {
  .loginRegister__inner--ifMobile {
    width: 75%;
  }
}

@media (min-width: 481px) {
  .loginRegister__inner--ifMobile {
    width: 30%;
  }
}

.loginRegister__window {
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 0.5rem;
}

.loginRegister__link {
  text-align: center;
}
